$font-family-playfair: "Playfair Display", serif;
$font-family-popin: "Poppins", sans-serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$clr-dirt-red: #400601;
$clr-brown: #BF6734;
$clr-blue-grey: rgb(102, 102, 153);
$clr-pink: #DA774A;
$clr-bright-pink: #F14646;
$clr-grey-red: #9F616A;
$clr-grey-blue: #4484AB;
$clr-light-blue: #5ACEF2;
$clr-yellow: #F1B170;
$clr-light-grey: rgb(217, 217, 217);
$clr-dark-grey: #625A5A;

$break-large: 900px;
$break-medium: 550px;
