@import "./variables";

*,
*::before,
*::after {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
}

html {
    overflow-x: hidden;
}

body {
    background-color: black;
    font-family: $font-family-popin;
    color: white;
}

.container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.selected {
    color: $clr-blue-grey !important;
}

.svgBackgroundContainer {
    position: relative;
    min-height: 100vh;
    overflow: hidden;

    .svgBackground {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0.2;
    }
}

.title {
    font-family: $font-family-playfair;
    margin-top: 2rem;
}

@media screen and (min-width: $break-large) and (min-height: $break-medium) {
    .title {
        font-size: 4.5rem;
        margin-bottom: 1rem;
    }

    .scrollControl {
        scroll-snap-type: y mandatory;
        overflow-y: auto;
        overflow-x: hidden;
        height: 100vh;
    }

    .scrollType {
        scroll-snap-align: start;
        height: 100vh;
    }
}
